@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 Tanglish:
 Full website colourful premium theme
*/

body {
  min-height: 100vh;
  background:
    radial-gradient(circle at top left, #312e81, transparent 40%),
    radial-gradient(circle at top right, #701a75, transparent 40%),
    radial-gradient(circle at bottom left, #065f46, transparent 40%),
    linear-gradient(to bottom, #020617, #020617);
  color: #e5e7eb;
  font-family: "Inter", system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
}
